{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__inner c-footer__inner--top">
      {# SBTODO add and style logo #}
      <a href="/" class="c-footer__logo" title="{{ 'Return to the homepage'|t }}">
        {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'logo'} %}
      </a>

      {{ elements.greenhydrogen_footer }}
    </div>

    <div class="c-footer__inner c-footer__inner--bottom">
      <p class="c-footer__credit">
        © Green Hydrogen Standard. {{ 'All rights reserved.'|trans }}<br/>
        {# {{ 'Design and development by'|trans }} <a href="https://www.soapbox.co.uk">Soapbox</a>. #}
      </p>

      <div class="c-footer__socials">
        {# Twitter #}
        {% if site_settings.footer.footer.field_twitter_url is not empty %}
          <a class="c-footer__social-button"
             href="{{ site_settings.footer.footer.field_twitter_url.url }}"
             title="{{ "Twitter"|trans }}"
             target="_blank">
            {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'twitter'} %}
          </a>
        {% endif %}

        {# LinkedIn #}
        {% if site_settings.footer.footer.field_linkedin_url is not empty %}
          <a class="c-footer__social-button"
             href="{{ site_settings.footer.footer.field_linkedin_url.url }}"
             title="{{ "LinkedIn"|trans }}"
             target="_blank">
            {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'linkedin'} %}
          </a>
        {% endif %}

        {# Youtube #}
        {% if site_settings.footer.footer.field_youtube_url is not empty %}
          <a class="c-footer__social-button"
             href="{{ site_settings.footer.footer.field_youtube_url.url }}"
             title="{{ "YouTube"|trans }}"
             target="_blank">
            {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'youtube'} %}
          </a>
        {% endif %}

        {# Facebook #}
        {% if site_settings.footer.footer.field_facebook_url is not empty %}
          <a class="c-footer__social-button"
             href="{{ site_settings.footer.footer.field_facebook_url.url }}"
             title="{{ "Facebook"|trans }}"
             target="_blank">
            {% include '@greenhydrogen/svg/svg.html.twig' with {'svg': 'facebook'} %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
