{% set classes = [
  'c-person-card',
] %}
{% set job_title = content.field_job_title|render|striptags|trim %}
{% set organisation = content.field_organisation|render|striptags|trim %}
{% set email = content.field_email %}
<article{{ attributes.addClass(classes) }}>

  <div class="c-person-card__image-container">
    {% if content.field_image|render is not empty %}
      {{ content.field_image }}
    {% endif %}
  </div>

  <h2 class="c-person-card__name">
    {{ label }}
  </h2>

  {% if job_title is not empty or organisation is not empty or email is not empty %}
    <div class="c-person-card__meta-container">
      {% if job_title is not empty %}
        <p class="c-person-card__meta">
          {{ job_title }}
        </p>
      {% endif %}

      {% if organisation is not empty %}
        <p class="c-person-card__meta">
          {{ organisation }}
        </p>
      {% endif %}

      {% if email is not empty %}
        <p class="c-person-card__meta">
          {{ email }}
        </p>
      {% endif %}
    </div>
  {% endif %}
</article>
