{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{attributes.addClass(classes)}}>
	{% if node.field_press_release.value == true %}
		<div class="press row d-inline-box">
			<div class="col-md-4">
				{{ content.field_image }}
			</div>
			<div class="col-md-8 d-flex flex-column justify-content-center">
				<div class="press-release-details">
					<h3>Press Release</h3>
					<h1 class="mb-4">
						<a href="{{ url }}">
							{{ label }}
						</a>
					</h1>
					<div class="press-body">
						<div class="summary">
							{{ node.field_body.summary }}
						</div>
						<div class="body">
							{{ content.field_body }}
						</div>
						{% if node.field_file is not empty %}

							<div class="mt-4 readmore-button file">
								<a href="{{ content.field_file }}">
									Download PDF
								</a>
							</div>
						{% else %}
							<div class="mt-4 readmore-button url">
								<a href="{{ url }}">
									Read more
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="press col-md-12 d-inline-box">
			<div class="col-md-6">
				{{ content.field_image }}
			</div>
			<div class="col-md-6 d-flex flex-column justify-content-center">
				<div class="press-release-details">
					<h1 class="mb-4">
						<a href="{{ url }}">
							{{ label }}
						</a>
					</h1>
					<div class="press-body">
						<div class="summary">
							{{ node.field_body.summary }}
						</div>
						<div class="body">
							{{ content.field_body }}
						</div>
						{% if node.field_file is not empty %}

							<div class="mt-4 readmore-button file">
								<a href="{{ content.field_file }}">
									Download PDF
								</a>
							</div>
						{% else %}
							<div class="mt-4 readmore-button url">
								<a href="{{ url }}">
									Read more
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>


	{% endif %}


</article>
