{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{attributes.addClass(classes)}}>
	{% include 'node--page-header.html.twig' %}

	{{ content.field_page_builder }}

</article>
